{
  "*.ts": [
    "yarn lint ",
    "yarn lint:tests",
    "yarn format",
    "yarn format:tests",
    "yarn test:unit --findRelatedTests --passWithNoTests",
    "yarn test:integration --findRelatedTests --passWithNoTests"
  ]
}
